In [19]:
import pandas as pd
import numpy as np

In [20]:
# Creating a Dictionary
population_dict = {
    'California': 39538223,
    'Texas': 29145505,
    'Florida': 21538187,
    'New York': 20201249,
    'Pennsylvania': 13002700
}
population = pd.Series(population_dict)

area_dict = {
    'California': 423967,
    'Texas': 695662,
    'Florida': 170312,
    'New York': 141297,
    'Pennsylvania': 119280
}

area = pd.Series(area_dict)

# Constructing DataFrame Objects

From a single Series object

In [21]:
pd.DataFrame(population, columns = ['population'])

              population
California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700

From a List of dicts

In [22]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [23]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with NaN
values

In [24]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

From a dictionary of Series objects

In [25]:
pd.DataFrame({'population': population, 'area': area})

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

From a 2D Numpy array

In [32]:
data = np.random.rand(3, 2)
pd.DataFrame(data, columns = ['foo', 'bar'], index = ['a', 'b', 'c'])

        foo       bar
a  0.463297  0.917811
b  0.309746  0.622193
c  0.511598  0.713532

From a Numpy structure array

In [36]:
A = np.zeros(3, dtype = [('A', 'i8'), ('B', 'f8')])
print(pd.DataFrame(A))

   A    B
0  0  0.0
1  0  0.0
2  0  0.0