# The left_index and right_index Keywords

In [1]:
import pandas as pd
import numpy as np

In [2]:
class Display(object):
    """
        Displaying HTML represantation of multiple object
    """
    template = """
        <div style = "float: left; padding: 10px;">
        <p style = "font-family: 'Courier New', Courier, monospace">{0}{1}
    """
    
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_()) for a in self.args)
    
    def __repr__(self) -> str:
        return '\n\n'.join(a + '\n' + repr(eval(a)) for a in self.args)

In [19]:
df1 = pd.DataFrame(
    {
        'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
        'group': ['Accounting', 'Engineering', 'Engineering', 'HR']
    }
)
df2 = pd.DataFrame(
    {'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
     'hire_date': [2004, 2008, 2012, 2014]
    }
)

df3 = pd.DataFrame({
    'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
    'salary': [70000, 80000, 120000, 90000]
})

rather than merging on a column, you would instead like to merge on an
index.

In [20]:
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')

Display('df1a', 'df2a')

df1a
                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR

df2a
          hire_date
employee
Lisa           2004
Bob            2008
Jake           2012
Sue            2014

You can use the index as the key for merging by specifying the left_index and/or
right_index flags in pd.merge():

In [24]:
pd.merge(df1a, df2a, left_index=True, right_index=True)

                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

For convenience, Pandas includes the DataFrame.join() method, which performs an
index-based merge without extra keywords:

In [25]:
df1a.join(df2a)

                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

If you’d like to mix indices and columns, you can combine left_index with right_on
or left_on with right_index to get the desired behavior:

In [27]:
pd.merge(df1a, df3, left_index = True, right_on = 'name')

KeyError: 'name'