# Overlapping Column Names: The suffixes Keyword

Last, you may end up in a case where your two input DataFrames have conflicting column
names.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df8 = pd.DataFrame(
    {
        'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
        'rank': [1, 2, 3, 4]
    }
)
df9 = pd.DataFrame(
    {
        'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
        'rank': [3, 1, 4, 2]
    }
)

In [3]:
pd.merge(df8, df9, on = 'name')

   name  rank_x  rank_y
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2

If
these defaults are inappropriate, it is possible to specify a custom suffix using the suf
fixes keyword:

In [4]:
pd.merge(df8, df9, on="name", suffixes=["_L", "_R"])

   name  rank_L  rank_R
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2