In [3]:
import random
import pandas as pd

In [5]:
# Define possible phone names
phone_names = ["iPhone 15", "Samsung Galaxy S24", "Google Pixel 7", "OnePlus 10", "Xiaomi Mi 12"]
columns = ['Phone Name', 'Contract', 'Account_up_to_date']

# Generate CSV data
data = []
for i in range(500):
    phone_name = random.choice(phone_names)
    contract = random.choice([12, 24, 36])
    account_up_to_date = random.choice(["Yes", "No"])
    data.append([phone_name, contract, account_up_to_date])

In [6]:
# Save DataFrame to CSV 
df = pd.DataFrame(data, columns=columns)
csv_file_path = 'phone_sales.csv' 
df.to_csv(csv_file_path, index=False)

In [10]:
sales_df = pd.read_csv('phone_sales.csv')
sales_df = pd.DataFrame(sales_df)
sales_df

             Phone Name  Contract Account_up_to_date
0            OnePlus 10        24                Yes
1             iPhone 15        12                Yes
2        Google Pixel 7        24                 No
3    Samsung Galaxy S24        24                Yes
4        Google Pixel 7        36                Yes
..                  ...       ...                ...
495      Google Pixel 7        24                Yes
496        Xiaomi Mi 12        36                 No
497      Google Pixel 7        36                Yes
498      Google Pixel 7        36                 No
499          OnePlus 10        12                 No

[500 rows x 3 columns]