In [3]:
import pandas as pd

In [12]:
data = {
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03']
}
df = pd.DataFrame(data)

df['Date'] = pd.to_datetime(df['Date'])

df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df.drop('Date', axis=1)
df

        Date  Year  Month  Day
0 2024-01-01  2024      1    1
1 2024-01-02  2024      1    2
2 2024-01-03  2024      1    3